DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_PORT=3306
DB_NAME=brgy_waste_db

# Brevo API Transactional Email and SMS Configuration
BREVO_API_KEY=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Linaraya Waste Management"

# SMS Configuration iProgSMS
SMS_GATEWAY=iprogsms
SMS_API_KEY=
SMS_SENDER_ID=iprogOTP

# SMTP Fallback Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=tls
